@charset "utf-8";

*{ margin: 0; padding: 0; }
html,body{width: 100%; height: 100%;}

body{background: #FFF; color: #000; font-size: 12px;font-family: Verdana,Tahoma,Arial,Halvetica,sans-serif;}

header{
	background-image: url("https://eurodesignbg.com/images/banner1.jpg");
}
h1{ color: white;
    text-align: center;
    font-size: 55px;
    padding: 50px,0,300,0;
    text-shadow: 4px 2px orange;
    margin-top: ;
}
h2{
	text-align: center;
	background-color: #F50AA0;
}

main{
	margin-left:100px;
}
article{
	display: inline-block;
}

h3{ color: black;
    text-align: center;
    font-size: 23px;
    padding: 40px,0,200,0;
}
img{
	max-width: 1500px;
	height: 100;
	margin: auto;
}
nav ul li{
   display: inline-block;
   padding-left: 15px;
}
nav{
	margin: auto;
	max-width: 90%;
	font-size: 20px;
    padding-left: 400px;
}
a:hover{
	color: red;
}
a{
	text-decoration: none;
}
div{
	display: inline-block;

}
